<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/layout :: head('Cinema Booking - Home')}"></head>

<body>
    <header th:replace="~{fragments/layout :: header}"></header>

    <main>
        <h2>Schedule for this month</h2>
        <div class="movie-grid">
            <div th:each="movie : ${movies}" class="movie-card">
                <img th:src="${movie.posterUrl}" th:alt="${movie.title} + ' Poster'" class="movie-poster">
                <h3 th:text="${movie.title} + ' (' + ${movie.year} + ')'">Movie Title</h3>

                <div class="movie-details">
                    <span th:text="${movie.genre}">Genre</span> &bull;
                    <span th:text="${movie.runtime}">Runtime</span>
                </div>

                <!-- <p class="description" th:text="${movie.description}">Description</p> -->
                <div class="meta">
                    <span class="rating" th:text="${movie.ageRating} + '+'">12+</span>
                    <a th:href="@{'/movies/' + ${movie.id} + '/screenings'}" class="btn">View Sessions</a>
                </div>
            </div>
        </div>
    </main>

    <footer th:replace="~{fragments/layout :: footer}"></footer>
</body>

</html>